.content {
  grid-row: 2/span 1;
  display: grid;
  grid-template-rows: 1fr 6fr;
  overflow: hidden;
}

.showBy-section {
  grid-row: 1/span 1;
  padding: 1%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  place-items: center;
  column-gap: 2%;
  row-gap: 20%;
}
.showBy-section__eaBy {
  display: flex;
  place-items: center;
}
.showBy-section__eaBy input {
  outline: none;
  padding: 2px 15px;
  border-radius: 1.5em;
  border: 2px hsl(0, 0%, 80%) solid;
}
.showBy-section__eaBy input:hover {
  border: 2px hsl(0, 0%, 70%) solid;
}
.showBy-section__eaBy input::-webkit-search-cancel-button {
  cursor: pointer;
}
.showBy-section__eaBy label {
  margin-right: 5px;
}
.showBy-section .searchName {
  grid-column: 1/span 3;
}

.select-container .Select__control {
  cursor: pointer;
  min-width: 180px;
  min-height: 20px;
  border-width: 2px;
  border-radius: 1.5em;
  box-shadow: none;
  border-color: hsl(0, 0%, 80%);
}
.select-container .Select__control:hover {
  border-color: hsl(0, 0%, 70%);
}
.select-container .Select__value-container {
  padding: 2px 15px;
}
.select-container .Select__input-container {
  padding: 0;
  margin: 0;
}
.select-container .Select__indicator {
  padding: 2px 5px;
}
.select-container .Select__option {
  cursor: pointer;
  padding: 2% 5.5%;
}
.select-container .Select__option--is-focused {
  background: rgba(66, 66, 234, 0.25);
}
.select-container .Select__option--is-selected {
  background: rgb(66, 66, 234);
}
.select-container .Select__option:active {
  background: rgba(66, 66, 234, 0.5);
}
.select-container .Select__menu {
  box-shadow: 0 0 10px 0 lightgray;
}

.profiles-section {
  grid-row: 2/span 1;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.profiles-section::-webkit-scrollbar {
  width: 5px;
}
.profiles-section::-webkit-scrollbar-thumb {
  background: rgb(66, 66, 234);
  border-radius: 1.5em;
}
.profiles-section::-webkit-scrollbar-corner {
  background: transparent;
}
.profiles-section__header {
  margin: 1% 0;
  padding: 0 3%;
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.profiles-section__header .layout-icons {
  display: flex;
  justify-content: end;
  align-items: center;
}
.profiles-section__header .layout-icons__icon {
  cursor: pointer;
  font-size: 1.5em;
  margin: 0 2%;
}
.profiles-section__cards {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 2%;
  row-gap: 0.2%;
  padding: 0 3%;
}
.profiles-section__pictures {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 2%;
  row-gap: 0.2%;
  padding: 1% 3%;
  place-items: center;
}
.profiles-section__names {
  display: grid;
  grid-template-columns: repeat(6, auto);
  column-gap: 2%;
  row-gap: 5%;
  padding: 1% 3%;
}

.card {
  padding: 4% 0;
  display: grid;
  grid-template-rows: repeat(3, auto);
  place-items: center;
  row-gap: 2%;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 lightgray;
}
.card__picture {
  grid-row: 1/span 1;
}
.card__picture img {
  border-radius: 50%;
}
.card__info {
  grid-row: 2/span 1;
  text-align: center;
}
.card__info .username {
  cursor: pointer;
}
.card__info .username:hover {
  text-decoration: underline;
}
.card__profile-link {
  grid-row: 3/span 1;
}
.card__profile-link .link {
  color: rgb(66, 66, 234);
  text-decoration: none;
  font-weight: bolder;
  display: flex;
  align-items: center;
}
.card__profile-link .link i {
  margin-left: 5px;
}
.card__profile-link .link:hover {
  font-size: 1.1em;
}

.picture-card img {
  border-radius: 50%;
  box-shadow: 0 0 10px 0 lightgray;
}

.name-card {
  text-align: center;
}
.name-card .link {
  border-radius: 1.5em;
  padding: 5%;
  text-decoration: none;
  color: white;
  box-shadow: 0 0 10px 0 lightgray;
}

@media only screen and (max-width: 430px) {
  .profiles-section__cards {
    grid-template-columns: repeat(2, auto);
    row-gap: 0.03%;
    padding: 3%;
  }
  .profiles-section__pictures {
    grid-template-columns: repeat(3, auto);
    row-gap: 0.01%;
    padding: 3%;
  }
  .profiles-section__names {
    grid-template-columns: repeat(2, auto);
    row-gap: 1%;
    padding: 3%;
  }
  .showBy-section {
    display: flex;
    flex-direction: column;
  }
  .showBy-section__eaBy {
    margin-bottom: 2%;
  }
  .card {
    font-size: 0.92em;
  }
  .picture-card {
    margin: 3% 0;
  }
  .picture-card img {
    height: 130px;
  }
  .name-card {
    margin: 3% 0;
  }
}

/*# sourceMappingURL=home.css.map */
