*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100vw;
  height: 100vh;
  cursor: default;
  span, label{
    color: rgb(66, 66, 234);
    font-weight: bolder;
  }
}

#root{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 12fr;
  min-width: 1300px;
}

@media only screen and (max-width:430px){
  #root{
    min-width: 430px;
  }
}