.header{
    position: relative;
    grid-row: 1/span 1;
    display: flex;
    justify-content: center;
    align-content: center;
    background: rgb(66, 66, 234);
    color: white;
    h1{
        margin: auto;
        text-decoration: underline;
    }
}

.dark-mode{
    cursor: pointer;
    border: 2px white solid;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    right: 3%;
    padding: 10px;
    display: flex;
    place-items: center;
    font-size: 1.5em;
}