.header{
    display: flex;
    justify-content: center;
    align-content: center;
    background: rgb(66, 66, 234);
    color: white;
    h1{
        margin: auto;
        text-decoration: underline;
    }
}