.header{
    grid-row: 1/span 1;
    background: rgb(66, 66, 234);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.relative-container{
    position: relative;
    h1{
        margin: auto;
        text-decoration: underline;
    }
}

.dark-mode{
    cursor: pointer;
    border: 2px white solid;
    border-radius: 50%;
    position: absolute;
    top: -15%;
    right: -120%;
    padding: 10px;
    display: flex;
    place-items: center;
    font-size: 1.5em;
}

@media only screen and (max-width:430px){
    .dark-mode{
        right: -25%;
    }
}