.profile-content{
  grid-row: 2/span 1;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 10fr;
  overflow: hidden;
}

.back-home{
  grid-row: 1/span 1;
  display: flex;
  padding: 0 2%;
  .link{
    color: rgb(66, 66, 234);
    text-decoration: none;
    font-weight: bolder;
    display: flex;
    align-items: center;
    i{
        margin-right: 5px;
    }
  }
}

.profile-info{
  grid-row: 2/span 1;
  padding: 2% 5%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 2%;
  &__main{
    grid-column: 1/span 1;
    grid-row: 1/span 2;
  }
  .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    border-radius: 1.5em;
    box-shadow: 0 0 10px 0 lightgray;
    .username-container{
      display: flex;
      place-items: center;
      .username, .confirmation{
        margin: 0 5px;
      }
      .confirmation{
        color: green;
      }
      .username{
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
      }
    }
    img{
      border-radius: 50%;
    }
    p, h3{
      margin: 5% 0;
    }
    h3{
      display: grid;
      grid-template-columns: repeat(2, auto);
      .edit{
        cursor: pointer;
        color: rgb(66, 66, 234);
      }
    }
  }
}

.more-info{
  padding: 5%;
  border-radius: 1.5em;
  box-shadow: 0 0 10px 0 lightgray;
  grid-column: 2/span 1;
  grid-row: 1/span 1;
  display: flex;
  justify-content: center;
  height: fit-content;
  .codewars, .scores, .certifications{
    margin: 0 2%;
    p{
      margin: 3% 0;
    }
  }
  .certifications{
    p{
      display: flex;
      align-items: center;
    }
  }
}

.notes{
  padding: 5%;
  border-radius: 1.5em;
  box-shadow: 0 0 10px 0 lightgray;
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  display: flex;
  height: fit-content;
  form{
    padding: 5%;
    border: 1px black solid;
    border-radius: 1.5em;
  }
  h3{
    margin-bottom: 5%;
  }
  input{
    width: 50%;
    margin-left: 1%;
    margin-bottom: 15%;
    outline: none;
    padding: 0.1% .5%;
    &::placeholder{
      font-size: 0.8em;
    }
  }
  ul{
    margin-left: 5%;
    list-style: none;
    padding: 0 2%;
    font-size: .9em;
    height: 240px;
    overflow: scroll;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgb(66, 66, 234);
      border-radius: 1.5em;
    }
    &::-webkit-scrollbar-corner {
      background: transparent; 
    }
    li{
      display: flex;
      align-items: center;
      .delete{
        cursor: pointer;
        font-size: 1.5em;
        color: red;
      }
    }
  }
  button{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 1%;
    background: rgb(66, 66, 234);
    color: white;
    display: flex;
    align-items: center;
  }
}

.edit-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: white;
  width: 25%;
  height: 50%;
  padding: 2% 3%;
  border-radius: 1.5em;
  border: 2px black solid;
  box-shadow: 0 0 20px 0 lightgray;
  fieldset{
    border-radius: 1em;
  }
  p{
    color: rgb(66, 66, 234);;
  }
  input{
    border-radius: 1.5em;
    outline: none;
    padding: 2px 15px;
  }
}

.certification-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1%;
  label{
    margin-right: 5%;
  }
  input, label{
    cursor: pointer;
  }
}

.scores{
  input{
    margin-bottom: 1%;
    width: 30%;
  }
}

.form-btns{
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-items: center;
  margin-top: 5%;
  button{
    cursor: pointer;
    width: 70%;
    border: none;
    border-radius: 5px;
    padding: 5%;
    background: rgb(66, 66, 234);
    color: white;
  }
}

@media only screen and (max-width:430px){
  .profile-info{
    padding: 5%;
    gap: 3%;
    overflow: scroll;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgb(66, 66, 234);
      border-radius: 1.5em;
    }
    &::-webkit-scrollbar-corner {
      background: transparent; 
    }
    grid-template-rows: repeat(3, auto);
    &__main{
      grid-column: 1/span 2;
      grid-row: 1/span 1;
    }
    .info{
      img{
        height: 150px;
      }
    }
  }
  
  .more-info{
    grid-column: 1/span 2;
    grid-row: 2/span 1;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 10%;
    .codewars{
      grid-column: 1/span 2;
      grid-row: 1/span 1;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .certifications, .scores{
      margin: 0;
      grid-row: 2/span 1;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .certifications{
      grid-column: 2/span 1;
    }
    .scores{
      grid-column: 1/span 1;
    }
  }
  
  .notes{
    grid-column: 1/span 2;
    grid-row: 3/span 1;
    flex-direction: column;
    ul{
      margin-top: 2.5%;
      height: 300px;
    }
  }

  .edit-form{
    width: 90%;
    height: 50%;
    padding: 5%;
  }  
}